 html {
        box-sizing: border-box;
        overflow-x: hidden;
        scroll-behavior: smooth;
      }

      *,
      *:after,
      *:before {
        box-sizing: border-box;
      }

      body {
        position: relative;
        min-width: 350px;
        font-family: "Manrope", sans-serif;
        font-size: 14px;
        color: #000;

        &::-webkit-scrollbar-track {
          background-color: #f5f5f5;
        }

        &::-webkit-scrollbar {
          width: 5px;
          background-color: #f5f5f5;
        }

        &::-webkit-scrollbar-thumb {
          border-radius: 5px;
          background-color: #41b93c;
        }
      }

      h1 {
        text-align: center;
        padding: 15px 15px;
      }

      .nav {
        position: sticky;
        top: 10px;
        z-index: 999;
        transition: 0.25s;
        max-width: 1000px;
        margin: 15px auto 0 auto;
        background: rgba(255, 255, 255, 0.75);
        border-radius: 15px;
        border: 1px solid rgba(255, 255, 255, 0.3);
        box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
        backdrop-filter: blur(10px);
        -webkit-backdrop-filter: blur(5px);

        @media (max-width: 1200px) {
          max-width: 900px;
        }

        @media (max-width: 991px) {
          top: 0;
          max-width: 100%;
          border-radius: 0;
        }
      }

      .nav__course {
        list-style: none;
        display: flex;
        flex-flow: row nowrap;
        justify-content: center;
        padding: 0;
        overflow-x: auto;
        overflow-y: hidden;

        @media (max-width: 767px) {
          justify-content: flex-start;
        }

        li {
          position: relative;
          display: flex;
          flex-flow: column;
          align-items: center;
          padding: 0 10px;

          a {
            display: flex;
            flex-flow: column;
            justify-content: center;
            align-items: center;
            width: auto;
            padding: 0 10px;
            text-decoration: none;
            transform: scale(1);
            transition: 0.25s;

            &:hover {
              transform: scale(1.1);
            }

            span {
              font-size: 12px;
              color: #000;
              text-align: center;
              line-height: 1.4;
              white-space: nowrap;
            }

            img {
              width: 40px;
              margin-bottom: 10px;
            }
          }
        }
      }

      .container {
        margin: 0 auto;
        padding: 0 15px;
        max-width: 1140px;

        @media (max-width: 1200px) {
          max-width: 980px;
        }
      }

      .section__course {
        position: relative;
        z-index: 10;
        padding: 30px 0 30px 0;

        .course__title {
          position: relative;
          z-index: 3;
          overflow: hidden;
          margin-top: 0;
          padding: 60px 30px;
          font-size: 30px;
          text-align: center;
          color: #fff;
          border-radius: 15px;
          background-repeat: no-repeat;
          background-size: cover;
          background-position: center center;
          transition: 0.25s;

          @media (max-width: 991px) {
            font-size: 26px;
            padding: 45px 30px;
          }

          @media (max-width: 767px) {
            font-size: 20px;
            text-align: center;
            padding: 30px 15px;
          }

          &:before {
            content: "";
            position: absolute;
            z-index: -1;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background: rgba(0, 0, 0, 0.2);
            backdrop-filter: blur(5px);
            -webkit-backdrop-filter: blur(5px);
          }
        }

        .course__list {
          display: flex;
          flex-flow: row wrap;
          margin: 0 -15px;
          transition: 0.25s;

          @media (max-width: 991px) {
            margin: 0 -10px;
          }

          .course__item {
            flex: 0 0 25%;
            padding: 15px;

            @media (max-width: 991px) {
              flex: 0 0 33.333333%;
              padding: 10px;
            }

            @media (max-width: 767px) {
              flex: 0 0 50%;
            }

            .course__item__wrap {
              height: 100%;
              border: 1px solid #eee;
              border-radius: 15px;
              overflow: hidden;
              transition: 0.25s;

              &:hover {
                box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
                border: 1px solid rgba(255, 255, 255, 0.3);
              }
            }

            .course__img {
              display: flex;

              img {
                width: 100%;
                transform: scale(1) rotate(0);
                transition: 0.25s;
              }
            }

            .course__content {
              padding: 0 15px 25px 15px;
              display: flex;
              flex-flow: column;
              align-items: center;
            }

            .course__name {
              margin: 10px 0;
              font-size: 16px;
              font-weight: 500;
              line-height: 1.4;
              text-align: center;

              @media (max-width: 767px) {
                font-size: 14px;
              }

              a {
                text-decoration: none;
                color: #000;
                transition: 0.25s;

                &:hover {
                  color: #41b93c;
                }
              }
            }
          }
        }
      }

      #ece1110 {
        .course__title {
          background-image: url("ece1109 (1).jpg");
        }
      }
      #eee1110 {
        .course__title {
          background-image: url("eee1109.jpg");
        }
      }
      #ph1110 {
        .course__title {
          background-image: url("ph1109.jpg");
        }
      }
      #ece1210 {
        .course__title {
          background-image: url("ece1209.jpg");
        }
      }
      #cse1210 {
        .course__title {
          background-image: url("cse1209.jpg");
        }
      }
      #ch1210 {
        .course__title {
          background-image: url("ch1209.jpg");
        }
      }
      #hum1210 {
        .course__title {
          background-image: url("hum1210.jpg");
        }
      }
      
